@model WebApplication7.Models.Beach

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Beach</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.city.city_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city.city_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.beach_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.beach_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.beach_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
