@model WebApplication7.Models.EquipmentRental

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EquipmentRental</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Equipment.itemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipment.itemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lifeguards.lifeguard_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lifeguards.lifeguard_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Warehouse.WarehouseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Warehouse.WarehouseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfLoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfLoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Return)
        </dt>

        @*<dd>
            @Html.DisplayFor(model => model.Return)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EquipmentRentalID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
